.detailsWrapper{
  background-color: rgb(251, 251, 251);
  border-radius: 7px;
  padding: 30px;
  display: flex;

  margin-top: 10px;
  gap: 20px;
}

.detailsTags{
  color: #649478;
}
.detailsTags, .detailsValues{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-weight: bold;
}
