.container {
  width: 100%;
}

.skipHeader {
  background-size: cover;
  color: white;
  padding: 70px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.skipHeaderFilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px) brightness(70%);
  z-index: -1;
}

.skipList {
  width: 100%;
}

.detailsArrow {
  width: 20px;
  height: 20px;
}

.skipRow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  background: #f6f6f6;
  overflow: hidden;

  &.selectedSkip {
    background: #649478;
    color: white;
  }
}

.skipExpand {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  cursor: pointer;
}

.skipRowData {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.skipName {
  display: flex;
  align-items: center;
  gap: 20px;
}

.skipPrice {
  font-weight: bold;
}

.skipTitle {
  font-size: 3rem;
  font-weight: bold;
}

.skipSubtitle {
  font-size: 1.5rem;
}

.loading {
  color: #555;
  font-style: italic;
  margin: 1rem 0;
}

.error {
  color: red;
  font-weight: bold;
  margin: 1rem 0;
}
